<ruby>

def autorun_mod(mod, regex, ports)
    run_single("use #{mod}")
    framework.db.hosts.each do |host|
        host.services.each do |serv|
            next if not serv.host
            # service name (http, ssh, ssl, ftp, ...)
            if (serv.name =~ /#{regex}/ or serv.info =~ /#{regex}/)
                # SSL need to be set?
                if(serv.name =~ /ssl|https/)
                    run_single("set SSL true")
                else
                    # explicit is better than implicit... ;)
                    run_single("set SSL false")
                end
                # set vars
                run_single("set RPORT #{serv.port}")
                run_single("set RHOSTS #{host.address}")
                run_single("set RHOST #{host.address}")

                # let it go...
                print_good("Running against #{host.address}:#{serv.port} ...")                
                run_single("run")
            end
        end
    end
    run_single("back")
end

autorun_mod("auxiliary/scanner/lotus/lotus_domino_version", "Lotus.Domino")

</ruby>
